<div class="col shadow-lg p-3 m-2 bg-body rounded">
  <p>
    <strong>ARMStrong</strong> (Automated Radiation Monitoring System) — платформа, объединяющая в себе:
    <ul>
      <li>
        Автоматизированную систему радиационного контроля, (далее СРК) включающую в себя комплекс средств, призванных осуществлять радиационный контроль, в целях снижения травматизма, предупреждения предаварийных ситуация и недопущения развития аварийных сценариев;
      </li>
      <li>
        Систему менеджмента средствами измерения (далее СИ), которая позволяет осуществлять управление информацией о СИ, собирать отчетность и
        осуществлять проведение процедуры метрологических испытаний и поверки;
      </li>
      <li>
        Информационный портал для персонала.
      </li>
    </ul>
  </p>
  <p>
    Вся платформа и её компоненты распространяеются по лицензии <%= link_to "GNU GPLv3", license_path(:ru) %>, являеются open-source продуктом и разрабатывается силами сообщества.
  </p>
  <p>
    Наш репозиторий <a href="https://github.com/digital-armstrong", target="_blank"><i class="bi bi-git"></i> digital-armstrong</a>
  </p>
  <p>Разработчики:</p>
  <ul>
    <li>Акимов Денис</li>
    <li>Веселов Александр,
      <a href="https://github.com/owlscatcher", target="_blank">
        <i class="bi bi-github"></i> owlscatcher
      </a>
    </li>
    <li>Веселов Илья,
      <a href="https://github.com/ilyavveselov", target="_blank">
        <i class="bi bi-github"></i> ilyavveselov
      </a>
    </li>
    <li>Харитонов Константин,
      <a href="https://github.com/SpacePurr", target="_blank">
        <i class="bi bi-github"></i> SpacePurr
      </a>
    </li>
  </ul>
</div>
