<%= simple_form_for @device_reg_group, as: :device_reg_group, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Номер присвоенный в ЦСМИТ', input_html: {:tabindex => 1}%>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= f.button :submit, "Назад", formaction: device_reg_group_index_path, formmethod: "get" %>
  </div>
<% end %>
