<% flash.each do |type, msg| %>
  <% flash_class = if type == 'error' || 'alert'
                    "danger"
                   elsif type == 'notice'
                    "info"
                   else
                    "success"
                   end
  %>
  <div class="alert alert-<%= flash_class %>">
    <%= msg %>
  </div>
<% end %>
