<%= simple_form_for @measurement_group, as: :measurement_group, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Название группы измерений', input_html: {:tabindex => 1}%>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= f.button :submit, "Назад", formaction: admin_measurement_group_index_path, formmethod: "get" %>
  </div>
<% end %>
