<div class="container">
  <div class="row">
    <div class="col">
    <div class="shadow-lg p-3 mb-5 bg-body rounded ">
      <%= image_tag "cover.webp", class: "rounded img-fluid", size: "600" %>
      </div>
    </div>
    <div class="col">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <p>
        <strong>ARMStrong</strong> (Automated Radiation Monitoring System) — автоматизированная система радиационного контроля, (далее СРК) включающая в себя комплекс средств, призванных осуществлять радиационный контроль, в целях снижения травматизма, предупреждения предаварийных ситуация и недопущения развития аварийных сценариев.
      </p>
      <p>
        Вся система распространяется по лицензии <a href="https://www.gnu.org/licenses/gpl-3.0.en.html", target="_blank">GNU GPLv3</a>, является open-source продуктом и разрабатывается силами сообщества.
      </p>
      <p>Наш репозиторий
        <a href="https://github.com/digital-armstrong", target="_blank">
          <i class="bi bi-git"></i> digital-armstrong
        </a>
      </p>
      <p>Разработчики:</p>
      <ul>
        <li>Акимов Денис</li>
        <li>Веселов Александр,
          <a href="https://github.com/owlscatcher", target="_blank">
            <i class="bi bi-github"></i> owlscatcher
          </a>
        </li>
        <li>Веселов Илья,
          <a href="https://github.com/ilyavveselov", target="_blank">
            <i class="bi bi-github"></i> ilyavveselov
          </a>
        </li>
        <li>Харитонов Константин,
          <a href="https://github.com/SpacePurr", target="_blank">
            <i class="bi bi-github"></i> SpacePurr
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
