<ul class="nav nav-tabs">
  <% selected = local_assigns[:selected] %>
  <li class="nav-item">
    <%= link_to "Пользователи", admin_users_path, class: "nav-link #{ 'active' if selected == 'user' }", aria_current: 'page' %>
  </li>
  <li class="nav-item">
    <%= link_to "Приборы", admin_device_index_path, class: "nav-link #{ 'active' if selected == 'device' }", aria_current: 'page' %>
  </li>
  <li class="nav-item">
    <%= link_to "Локации", admin_control_point_index_path, class: "nav-link #{ 'active' if selected == 'location' }", aria_current: 'page' %>
  </li>
  <li class="nav-item">
    <%= link_to "АСРК", admin_channel_index_path, class: "nav-link #{ 'active' if selected == 'asrc' }", aria_current: 'page' %>
  </li>
</ul>
