<div class='row text-center shadow rounded my-4 mx-0'>
  <% selected = local_assigns[:selected] %>
  <%= link_to 'Точки контроля', admin_control_point_index_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'control_point' }" %>
  <%= link_to 'Помещения', admin_control_point_index_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'room' }" %>
  <%= link_to 'Здания', admin_control_point_index_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'building' }" %>
</div>
