<div class="row"></div>
<div class="row">
  <div class="col">
    <%= link_to 'Devices', admin_device_index_path,  class: 'btn' %>
  </div>
  <div class="col">
    <%= link_to 'Users', admin_users_path, class: 'btn' %>
  </div>
  <div class="col"></div>
</div>
<div class="row"></div>